.wrapper {
  margin: 0;
  padding: 0;
}

.slide {
  position: absolute;
  width: 100%;
  display: flex;
  transition: ease-in;
}

.enhance {
  width: 100%;
}

.pic-left {
  float: left;
  margin-right: 30px;
}

.pic-right {
  float: right;
  margin-left: 30px;
}

.sub-desc {
  padding: 30px;
}

.slide-enhance {
  animation: enhancing-slide 0.3s ease-in forwards;
}

.slide-reduce {
  animation: reducing-slide 0.1s ease-in forwards;
}

.show {
  left: 0%;
}
.r1 {
  left: 100%;
}
.r2 {
  left: 200%;
}
.r3 {
  left: 300%;
}
.r4 {
  left: 400%;
}

@keyframes out-left {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

@keyframes in-left {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes out-right {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes in-right {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes enhancing-slide {
  0% {
    width: 60%;
  }
  100% {
    width: 100%;
  }
}

@keyframes reducing-slide {
  0% {
    width: 100%;
  }
  100% {
    width: 60%;
  }
}
