.odd {
  flex-direction: row-reverse;
}

.normal {
  height: 70vh;
}

.unstyle-link {
  text-decoration: none;
  color: rgb(255, 255, 240);
  &:hover {
    text-decoration: underline;
  }
}

.vert-title {
  margin-left: 2vw;
  margin-bottom: 5vw;
}

.vert-project {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vw;
  width: 100%;
  .vert-pic {
    width: 100%;
    margin-bottom: 5vw;
  }
  .vert-content {
    width: 90%;
    align-self: center;
  }
}

.project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
  .pic {
    margin-bottom: 2vh;
    border-radius: 10px;
  }
  .content-wrap {
    display: flex;
    width: 45%;
    justify-content: center;
    .content {
      width: 300px;
      align-self: flex-end;
      margin-bottom: 15vh;
    }
  }
}

.enhance {
  animation: enhancing 0.3s ease-in forwards;
}

.reduce {
  animation: reducing 0.1s ease-in forwards;
}

@keyframes enhancing {
  0% {
    width: 40vw;
    height: 22vw;
  }
  100% {
    width: 80vw;
    height: 40vw;
  }
}

@keyframes reducing {
  0% {
    width: 80vw;
    height: 40vw;
  }
  100% {
    width: 40vw;
    height: 22vw;
  }
}
