html,
body {
  margin: 0 !important;
  padding: 0 !important;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  color: rgb(255, 255, 245);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(35, 35, 40);
}
