.multiplayer-wrap {
  margin-top: 7vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    color: rgb(255, 255, 255);
  }

  .vert-main-pic {
    width: 100%;
    margin-bottom: 10vw;
  }

  .main-pic-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10vh;
    .main-pic {
      width: 80%;
    }
  }

  .multiplayer {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-desc {
      margin: 0 0 10vh 0;
      align-self: flex-start;
    }
  }
  .carousel {
    display: flex;
    flex-direction: row;
    width: 100%;
    .horiz-button {
      width: 10%;
      background-color: rgba(20, 20, 25, 1);
      border: none;
      padding: 0;
      margin: 0;
      &:hover {
        background-color: rgb(30, 30, 35);
      }
      * {
        color: rgb(255, 255, 255);
        font-size: large;
      }
    }
    .content {
      position: relative;
      display: flex;
      flex-direction: row;
      overflow: hidden;
    }
  }
  .vert-btn-wrap {
    width: 100%;
    .vert-button {
      width: 50%;
      height: 10vh;
      background-color: rgba(20, 20, 25, 1);
      color: rgb(255, 255, 255);
      border: none;
      padding: 0;
      margin: 0;
    }
  }
}
