.vert-multiplayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 100%;
}

.vert-multiplayer .vert-main-desc {
  width: 90%;
}

.vert-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.vert-carousel .vert-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.vert-btn-wrap {
  width: 100%;
}

.vert-btn-wrap .vert-button {
  width: 50%;
  height: 10vh;
  background-color: #141419;
  color: white;
  border: none;
  padding: 0;
  margin: 0;
}

.multiplayer-wrap {
  margin-top: 7vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.multiplayer-wrap .vert-main-pic {
  width: 100%;
  margin-bottom: 10vw;
}

.multiplayer-wrap .main-pic-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  margin-bottom: 10vh;
}

.multiplayer-wrap .main-pic-wrap .main-pic {
  width: 80%;
}

.multiplayer-wrap .multiplayer {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.multiplayer-wrap .multiplayer .main-desc {
  margin: 0 0 10vh 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.multiplayer-wrap .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.multiplayer-wrap .carousel .horiz-button {
  width: 10%;
  background-color: #141419;
  border: none;
  padding: 0;
  margin: 0;
}

.multiplayer-wrap .carousel .horiz-button:hover {
  background-color: #1e1e23;
}

.multiplayer-wrap .carousel .horiz-button * {
  color: white;
  font-size: large;
}

.multiplayer-wrap .carousel .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}
/*# sourceMappingURL=multiplayer.css.map */