.home {
  margin-top: 7vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  a {
    color: rgb(255, 255, 255);
  }

  .projects-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgb(25, 25, 30);
    z-index: 5;
  }
  .projects {
    margin-top: 20vh;
    padding-top: 5vh;
    width: 80%;
    align-self: center;
  }
  .vert-projects {
    margin-top: 10vw;
    padding-top: 5vw;
    width: 100%;
    align-self: center;
  }
}
